<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,3001,700">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/recipes.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <title>TastyTeasure</title>
    </head>
    <body>
        <header class="header">
            <nav class="nav nav--tours">
                <a href="/" class="nav__el">Recipes</a>
            </nav>
            
            <nav class="nav nav--user"></nav>
        </header>
        <content class="main">
            <div id="container">
                <header class="header1">            

                </header>
                <section class="row d-flex">
                    <div class="col"></div>
                    <div class="col"></div>

                </section>

                <div class="click">
                    <span class="fa fa-heart-o"></span>
                    <div class="ring"></div>
                    <div class="ring2"></div>
                    <p class="info">Added to favourites!</p>
                </div>
                
                <section class="Ingredients">
                </section>
                
                <section class="Preparation">
                    
                </section>
                <div class="feedback-box">
                    
                </div>
                <ol class="timeline">
                    <li class="timeline-item">    
                       
                    </li>
                    <li class="timeline-item | extra-space">
                        <span class="timeline-item-icon | filled-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z" />
                                <path fill="currentColor" d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zM7 10v2h2v-2H7zm4 0v2h2v-2h-2zm4 0v2h2v-2h-2z" />
                            </svg>
                        </span>
                        <div class="timeline-item-wrapper">
                            
                        </div>
                    </li>
                </ol>
                </div>
            
        </content>
        <footer class="footer bg-dark text-light py-4 mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>About Tasty</h5>
                        <p>Tasty is your go-to platform for the best recipes from around the world. Explore, cook, and enjoy!</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Quick Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="/" class="text-light">Home</a></li>
                            <li><a href="/addrecipe" class="text-light">Add Recipes</a></li>
                          
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5>Follow Us</h5>
                        <a href="#" class="text-light me-2"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="text-light me-2"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                        <p class="footer__copyright">&copy; 2024 Tasty. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>



        <script type="module" src="js/details.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    </body>
</html>