<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,3001,700">
    <link rel="stylesheet" href="./css/style.css">
    <title>TastyTeasure</title>
</head>

<body>
    <header class="header">
        <nav class="nav nav--tours">
            <a href="/" class="nav__el">Recipes</a>
        </nav>
        <nav class="nav nav--user"></nav>
    </header>
    <content>
        <main  class="main">
            <div class="login-form">
                <h2 class="heading-secondary ma-bt-lg">Create a New Account</h2>
                <form class="form form--signup">
                    <div class="form__group">
                        <label class="form__label" for="name">Name</label>
                        <input class="form__input" id="name" type="text" placeholder="Tashi Wangyel"
                        required="required"/>
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="email">Email address</label>
                        <input class="form__input" id="email" type="email" placeholder="you@example.com"
                        required="required"/>
                    </div>
                    <div class="form__group ma-bt-md">
                        <label class="from__label" for="password">Password</label>
                        <input class="form__input" id="password" type="password" placeholder=".........."
                        required="required" minlength="8"/>
                    </div>
                    <div class="form__group ma-bt-md">
                        <label class="from__label" for="password">Confirm Password</label>
                        <input class="form__input" id="password-confirm" type="password" placeholder=".........."
                        required="required" minlength="8"/>
                    </div>
                    <div class="form__group">
                        <button class="btn btn--green">Signup</button>
                    </div>
                </form>
            </div>
        </main>
    </content>
    <footer class="footer bg-dark text-light py-4 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>About Tasty</h5>
                    <p>Tasty is your go-to platform for the best recipes from around the world. Explore, cook, and enjoy!</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-light">Home</a></li>
                        <li><a href="/" class="text-light">Add Recipes</a></li>
                      
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Follow Us</h5>
                    <a href="#" class="text-light me-2"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="text-light me-2"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <p class="footer__copyright">&copy; 2024 Tasty. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script type="module" src="./js/signup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
</body>

</html>