<!-- EMMET: html:5-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/yourpost.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700">
    <script type="module" src="./js/yourpost.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <title>TastyTeasure</title>


</head>

<body>
    <!-- EMMET: header+content+footer-->
    <header class="header">
        <nav class="nav nav--tours"><a class="nav__el" href="/">Recipes</a></nav>
        </div>
        <nav class="nav nav--user">
        </nav>
    </header>
    <content class="main">
        <div class="user-view">
            <nav class="user-view__menu">
                <ul class="side-nav">
                    <li class="side-nav--active"><a href="#">Your Post</a></li>

                    <div class="admin-nav">

                    </div>
                </ul>
            </nav>
            <div class="user-view__content">
                <div class="card-container">
                    <div class="card">
                    
                      <div class="card__header">
                        <div class="card__picture">
                        
                        </div>
                        <!-- <h3 class="heading-tertirary">
                          <span>Recipes</span>
                        </h3> -->
                      </div>
            
                      <div class="card__details">
                            <h4 class="card__sub-heading"></h4>
                            <p class="card__text"></p>
                            <div class="card__data">
                                <svg class="card__icon"></svg>
                                <i data-star=""></i>
                            </div>
                
                            <div class="card__data">
                                <svg class="card__icon"></svg>
                                <span class="publishedBy"></span>
                            </div>
                            <button class="deleteButton">-</button>
                        </div>
                      </div>
      
                    </div>
                </div>
            </div>
        </div>

    </content>
    <footer class="footer bg-dark text-light py-4 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>About Tasty</h5>
                    <p>Tasty is your go-to platform for the best recipes from around the world. Explore, cook, and enjoy!</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-light">Home</a></li>
                        <li><a href="/addrecipe" class="text-light">Add Recipes</a></li>
                      
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Follow Us</h5>
                    <a href="https://www.facebook.com/kinley.phuntsho.712" class="text-light me-2"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/kaay_lee_13?igsh=MW9sZ2NoYnQ1MjczNg==" class="text-light me-2"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <p class="footer__copyright">&copy; 2024 Tasty. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>